

<main class="main">
  <button type="button" (click)="setEnabled()">
    {{ enabled ? 'Ocultar' : 'Mostrar'}}
  </button>

  <!-- Para version de Angular 17 hacia atras -->
  <!-- <ul *ngIf="enabled">
    <li *ngFor="let course of courses"> {{ course }}</li>
  </ul>
  <div *ngIf="enabled; else notEnabled">
    <h2>{{ title }}</h2>
  </div>

  <ng-template #notEnabled>
    <div>
      Lo sentimos no esta disponible
    </div>
  </ng-template> -->

  <!-- Para version de Angular 17 en adelante -->
  @if(enabled) {
    <h2>{{ title }}</h2>
    <ul *ngIf="enabled">
      @for (course of courses; track $index) {
        <li> {{ course }}</li>
      }
    </ul>
  } @else {
    <h2>Lo sentimos no esta disponible</h2>
  }


</main>
<router-outlet />

<app-product></app-product>