<form (ngSubmit)="onSubmit()">
    <div>
        <input class="form-control" type="text" name="name" id="name" [(ngModel)]="product.name">
    </div>
    <div>
        <input class="form-control" type="text" name="description" id="description" [(ngModel)]="product.description">
    </div>
    <div>
        <!-- [(ngModel)]="product.price" Sirve para poder capturar y poblar datos a este input -->
         <!-- desde alguna variable o atributo de un objeto que este en el componente -->
        <input class="form-control" type="text" name="price" id="price" [(ngModel)]="product.price">
    </div>
    <div>
        <button class="btn btn-primary my-2" type="submit">{{product.id > 0 ? 'Update' : 'Create'}}</button>
        <button class="btn btn-success my-2" (click)="clean()" type="button">Clean</button>
    </div>
</form>
