<h2>Listado de productos!</h2>

<!-- con parentesis, permite al hijo ejecutar funciones del padre -->
<!-- con  corchetes, permite enviar el valor de una variable del hijo al padre, para asignarla a una variable del padre-->
<product-form 
    (newProductEvent)="addProduct($event)" 
    [product] = "productSelected">
</product-form>

@if (products.length > 0) {

    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>name</th>
                <th>description</th>
                <th>price</th>
                <th>update</th>
            </tr>
        </thead>
        <tbody>
            @for (product of products; track $index) {
                <tr>
                    <td>{{ product.id }}</td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.description }}</td>
                    <td>{{ product.price }}</td>
                    <td>
                        <button (click)="onUpdateProduct(product)">update</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

} @else {
    <div>Lo sentimos no hay registros en el sistema!</div>
}